.app {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 2.5em;
  width: 100%;
  margin: auto;
  min-height: 50vh;
  // overflow-x: scroll;

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
    width: 19.5%;
    min-height: 15em;
    margin: percentage(0.01 / 4);
    color: white;
    *,
    a {
      font-size: 1.8rem;
      text-shadow: 0 0 1em rgba(0, 0, 0, 1);
      color: white;
      text-decoration: none;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      text-align: center;
      background: rgba(0, 0, 0, 0.35);
      transition: all ease-in-out 0.1s;
      h2 {
        width: 100%;
      }
    }
    a:hover {
      transition: all ease-out 0.15s;
      background: rgba(0, 0, 0, 0.6);
    }
  }
  .tile {
    width: 24.5%;
    a {
      flex-wrap: wrap;
    }
  }
  button {
    width: 100%;
    line-height: 2.5em;
    font-size: 1.5em;
    outline: none;
    border: none;
    margin: calc(0.01 / 4);
    font-weight: 600;
    margin: 0;
    margin-bottom: 0.5em;
    background-color: #815fc0;
    color: white;
    &:hover {
      background: rgba(15, 15, 15, 0.3);
    }
    &:active {
      background-color: grey;
      color: black;
    }
  }
}
@media (max-width: 1000px) {
  .app {
    section {
      width: 50%;
    }
  }
}
